@media only screen and (max-width: 380px) {
  .button-container {
    grid-template-columns: 1fr;
  }

  .tile button {
    width: 100%;
  }

  .tile img {
    width: 100%;
    padding: 0 0 20px 0;
  }
}

